<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Scribble</title>
  <link rel=styleSheet href="/draw/public/build/css/chainedStyle.css" type="text/css" media=screen>
</head>
<body>
<div id="main-content-wrapper"></div>
<script src="/draw/public/build/bundle.js"></script>
</body>
</html>
